@using CI_Platform.Entities.ViewModels
@{
        Layout  = "Header";
  }
@model PageList<StoryListingPageModel>

<body onload="Pagination();">


     <!------------------------------------------------    Second Navbar     ------------------------------------>
   
                      <div class="container" id="xyzw">
                <nav class="navbar navbar-expand-lg navbar-light  ">
                    <div class="container d-flex justify-content-between">

                        <!----------------------------------------- Search bar -------------------------------->

                        <form class="d-flex form-search my-1">
                            <input class=" fontheader2 form-control me-2" type="search" id="searchb" onkeyup="temp()" placeholder="Search mission..."  aria-label="Search">
                        </form>

                        <!---------------------------- Dropdown ---------------------------------------------->

                        <div class="collapse navbar-collapse" id="xyz">
                            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                                <li class="nav-item dropdown bdr">
                                    <a class="fontheader nav-link dropdown-toggle ms-3 me-5"  id="navbarDropdown" role="button" aria-expanded="false">
                                        City
                                    </a>
                                </li>
                                <li class="nav-item dropdown bdr">
                                    <a class="fontheader nav-link dropdown-toggle ms-3 me-5" 
                                        id="navbarDropdown" role="button"
                                        aria-expanded="false">
                                        Country
                                    </a>
                                </li>
                                <li class="nav-item dropdown bdr">
                                    <a class="fontheader nav-link dropdown-toggle ms-3 me-5" 
                                        id="navbarDropdown" role="button" 
                                        aria-expanded="false ">
                                        Theme
                                    </a>
                                </li>
                                <li class="nav-item dropdown bdr">
                                    <a class="fontheader nav-link dropdown-toggle ms-3 me-5" 
                                        id="navbarDropdown" role="button"
                                        aria-expanded="fals ">
                                        Skills
                                    </a>
                                </li>

                            </ul>

                        </div>
                    </div>
                </nav>
            </div>
            
            <hr style="margin: 0rem; border-top: 1px solid #ccc; background-color: #ccc; ">
            

     <!------------------------------------------------    share your story page link     ------------------------------------>
     
    <div class="image-container p-0 m-0">
        <div>
            <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" alt="" class="story_listing_bkg">
            <div class="overlay">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima et autem quaerat, tenetur nobis atque quam, architecto esse id nostrum qui corrupti.</p>
                <a href="~/Story/ShareYourStory">
                <button style="width: 25vh;">Share Your Story<i class="ms-3 ms-md-1 ms-lg-4  bi bi-arrow-right"></i>
                </button></a>
            </div>
        </div>
    </div>

     <!------------------------------------------------    all story related to missions     ------------------------------------>

    <br>
     <div style="color:green;" class="fs-5 fw-bold text-center mt-2 mb-2 my-auto">@TempData["Message"]</div>
    <div id="grid-view" class="container mt-2">
        

            @{
                Html.RenderPartial("_StoryListing", Model);
            }
           
        

    </div>

    <!-------------------------------------------------- pagination  --------------------------------------------------------->
    <br><br> <br><br><br>
    
         <div class="container d-flex justify-content-center">
                <div class="row">
                    <nav>
                        <ul class="pagination">
                            <li class="pagination_box" id="firstpage">&laquo;</li>
                            <li class="pagination_box" id="prevpage-btn" @*onclick="prevpage()"*@>&#60;</li>
                            <ul class="pagination" id="pagination">
                            </ul>
                            <li class="pagination_box" id="nextpage-btn" @*onclick="nextpage()"*@>&#62;</li>
                            <li class="pagination_box" id="lastpage">&raquo;</li>
                        </ul>
                    </nav>
                </div>
           </div>
    

    <!-------------------------------------------------- privacy policy  --------------------------------------------------------->

                        @{

                            Html.RenderPartial("Footer");
                   
                         }



    <script>
        // ------------------------------------   searching in stories ------------------------------------
        function temp(){
            
            // searching string
            var search = document.getElementById("searchb").value;       
            console.log(search);

            $.ajax({
                type: "POST",
                url: "/Story/FilterStoryListing",
                data: {
                    
                    'search': search,
                    'PageNumber': PageNumber,
                    'PageSize' : PageSize,
                },
                dataType: "html",
                success:function(data){
                     
                     $("#grid-view").empty();
                     $("#grid-view").html(data);
                     Pagination();

                },
                error: function(e){
                    console.log("error");

                },
            });
        }
    </script>

   
</body>

