html {
    font-size: 16px;
}

.search-div {
    width: 35%;
}

.search-input {
    border: none;
}

.filters {
    width: 60%;
}

    .filters span {
        cursor: pointer;
    }

    .filters div {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

.filter-image {
    display: none;
}
.all-choices img{
    cursor:pointer;
}
.all-choices div {
    margin-right: 20px;
}
.user,.down{
    border-radius:500px;
    object-fit:none;
    height:40px;
    width:40px;
    cursor:pointer;
}
.logo{
    margin-left:auto;
}
.username{
    padding-right:0px;
    padding-left:0.5rem;
}
.dropdown-toggle::after{
    content:none;
}
.sidebar-button {
    display: none;
}
html {
    position: relative;
    min-height: 100%;
}
@media (max-width:992px) and (min-width:768px) {
    html {
        font-size: 12px;
    }

    .user {
        height: 30px;
        width: 30px;
        border-radius: 250px;
        object-fit: cover;
    }

    .down {
        width: 20px;
    }
}
@media (max-width:992px) and (min-width:768px) {
    .search {
        width: 15px;
    }
}
@media (max-width:768px) and (min-width:576px){
    html {
        font-size: 10px;
    }
    .search {
        width: 12px;
    }

    .filter-dropdown {
        width: 7px;
    }
}
@media (max-width:576px){
    html {
        font-size: 15px;
    }
   .sidebar-button{
       display:block;
       height:25px;
   }
    .down {
        width: 10px;
        margin-right:10px;
    }
    .username {
        padding-right: 0.5rem;
    }
   .pages{
       display:none !important;
   }
    .offcanvas-start{
        width:40%;
    }
    #list, .filters, .all-choices, .sort {
        display: none !important;
    }

    .search-div {
        width: 70%;
    }

    .filter-image {
        display: block;
        width: 20px;
        height: 20px;
    }

    .filter-dropdown {
        width: 7px;
        height: 5px;
    }
}





/*pagination*/


.pagination_box {
    height: 41px;
    width: 41px;
    background: transparent;
    opacity: 1;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    text-decoration: none;
    color: #757575;
    padding-top: 7px;
    text-align: center;
    margin: 1px 5px;
    cursor: pointer;
}

@media (max-width:576px) {
    .pagination_box {
        height: 36px;
        width: 36px;
    }
}

.pagination_box.active {
    background-color: #F88634;
    color: #FFFFFF;
}

.pagination_box:hover {
    background-color: #F88634;
    color: #FFFFFF;
}

.pagination_box:active {
    background-color: #FFFFFF;
}

/*notification*/

.notification-profile-pic {
    width: 40px;
    border-radius: 50%;
}

.notification-div {
    position: absolute;
    width: 400px;
    height: auto;
    background-color: white;
    top: 35px;
    right: 8px;
    z-index: 125;
    border: 1px solid #F88634;
    border-radius: 4px;
}

.notification-content {
    width: 100%;
    padding: 8px;
}

.notification-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.single-notification {
    display: flex;
    margin-block: 8px;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.notification-icon-title {
    display: flex;
    gap: 8px;
    align-items: center;
}

.notification-setting-options {
    margin-block: 5px;
}

.notification-form-check-label:hover {
    cursor: pointer;
    background-color: #F88634;
    border-radius: 5px;
}

.notification-count {
    position: absolute;
    background-color: #F88634;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    padding-inline: 5px;
    top: 0;
    right: 0;
}

.read-unread-icon {
    width: 15px;
}