@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Page-Not-Found";
}
<div class="container d-flex justify-content-center align-items-center" style="height:800px;">
    <img class="h-75" src="~/images/404-Page-image.png" />
</div>
