@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["title"] = "Stories";
    ViewData["css"] = "index.css";
}
<partial name="SecondHeader_partial" />
<div class="w-100 d-flex justify-content-center align-items-center position-relative">
    <img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="w-100" style="height: 300px;object-fit:cover;object-position: 0 40%;filter:brightness(45%)"/>
<div class="w-50 position-absolute">
    <p style="color:white;">
        img src="~/images/Grow-Trees-On-the-path-to-environment-sustainability-login.png" class="w-100" style="height: 300px;object-fit:cover;object-position: 0 40%;filter:brightness(45%)"
    </p>
     <div class="mt-2 d-flex justify-content-center">
                            <button class="applyButton btn d-flex justify-content-around align-items-center" style="border: 2px solid white; color: white;">Share your Story <img class="ms-2" src="images/right-arrow.png" alt="">
                            </button>
                        </div>
</div>
</div>

@*main body*@
 <div class="container body pt-3">
            <div class="row">
                    <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card d-flex">
                    <div class="img-event">
                        <img class="group  list-group-image w-100 h-100"
                            src="images/Grow-Trees-On-the-path-to-environment-sustainability.png" id="Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" onmouseover="view_detail_onmouseover(1,'Grow-Trees-On-the-path-to-environment-sustainability.png')" onmouseout="view_detail_onmouseout(1,'Grow-Trees-On-the-path-to-environment-sustainability.png')" />
                            <div class="view-detail position-absolute" style="display:none;" onmouseover="view_detail_onmouseover(1,'Grow-Trees-On-the-path-to-environment-sustainability.png')" onmouseout="view_detail_onmouseout(1,'Grow-Trees-On-the-path-to-environment-sustainability.png')" id=1>
                            <button class="applyButton  btn d-flex  justify-content-around align-items-center" style="border: 2px solid white; color: white;">View Details <img class="ms-2" src="images/right-arrow.png" alt="">
                  </button>
                  </div>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="d-flex list-view align-items-center">
                           <img class="rounded-circle" src="~/images/volunteer1.png" alt="" style="width:13%;" />
                           <span class="ms-2">Andrew Jhonshon</span>
                        </div>
                    </div>
                </div>
            </div>

            @*--------2*@
            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                            src="images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" id="Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" onmouseover="view_detail_onmouseover(2,'Education-Supplies-for-Every--Pair-of-Shoes-Sold.png')" onmouseout="view_detail_onmouseout(2,'Education-Supplies-for-Every--Pair-of-Shoes-Sold.png')" />
                        <div class="view-detail position-absolute" style="display:none;"  onmouseover="view_detail_onmouseover(2,'Education-Supplies-for-Every--Pair-of-Shoes-Sold.png')" onmouseout="view_detail_onmouseout(2,'Education-Supplies-for-Every--Pair-of-Shoes-Sold.png')" id=2>
                            <button class="applyButton  btn d-flex  justify-content-around align-items-center" style="border: 2px solid white; color: white;">View Details <img class="ms-2" src="images/right-arrow.png" alt="">
                  </button>
                  </div>
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="d-flex list-view align-items-center">
                           <img class="rounded-circle" src="~/images/volunteer1.png" alt="" style="width:13%;" />
                           <span class="ms-2">Andrew Jhonshon</span>
                        </div>
                    </div>  
                </div>
            </div>
              @*-----------3*@
             <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                            src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="d-flex list-view align-items-center">
                           <img class="rounded-circle" src="~/images/volunteer1.png" alt="" style="width:13%;" />
                           <span class="ms-2">Andrew Jhonshon</span>
                        </div>
                    </div>
                </div>
            </div>
            @*-----row-2*@
                     <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                            src="images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                        
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="d-flex list-view align-items-center">
                           <img class="rounded-circle" src="~/images/volunteer1.png" alt="" style="width:13%;" />
                           <span class="ms-2">Andrew Jhonshon</span>
                        </div>
                    </div>
                </div>
            </div>

            @*--------2*@
            <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                            src="images/Animal-welfare-&-save-birds-campaign.png" alt="" />
                       
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                     <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="d-flex list-view align-items-center">
                           <img class="rounded-circle" src="~/images/volunteer1.png" alt="" style="width:13%;" />
                           <span class="ms-2">Andrew Jhonshon</span>
                        </div>
                    </div>
                </div>
            </div>
              @*-----------3*@
             <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
                <div class="thumbnail card">
                    <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                            src="images/Plantation-and-Afforestation-programme.png" alt="" />
                       
                        <button class="mission-theme border-0">
                            <span class="p-2">Environment</span>
                        </button>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Grow Trees – On the path to environment sustainability</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="d-flex list-view align-items-center">
                           <img class="rounded-circle" src="~/images/volunteer1.png" alt="" style="width:13%;" />
                           <span class="ms-2">Andrew Jhonshon</span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
             <div class="container mt-5 text-muted no-mission-found">
                <span>
                    No Mission Found
                    <p> Try With Onther Filters</p>
                </span>
            </div>
            @*pagination*@

<nav aria-label="Page navigation example" class="mt-5">
    <ul class="pagination justify-content-center">
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1"><img src="~/images/previous.png" alt="not load" /></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#" tabindex="-1"><img src="~/images/left.png" alt="not load" /></a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item">
            <a class="page-link" href="#"><img src="~/images/right-arrow1.png" alt="not load" /></a>
        </li>
        <li class="page-item">
            <a class="page-link" href="#"><img src="~/images/next.png" alt="not load" /></a>
        </li>
    </ul>
</nav>
<script>
    const view_detail_onmouseover=(id,img)=>{
        let image=document.getElementById(img)
        image.classList.add("story-image")
        let item=document.getElementById(id);
        item.style.display="block";
    }
      const view_detail_onmouseout=(id,img)=>{
          let image=document.getElementById(img)
        image.classList.remove("story-image")
        let item=document.getElementById(id);
        item.style.display="none";
    }
</script>
