 
 
<!------------------------------------------------------------------ privacy policy  ------------------------------------------------------------------>
        <br><br><br>
        <hr style="margin: 0rem; border-top: 3px solid #ccc; background-color: #ccc;">
        <br>

        <div class="container">
            <a href="~/User/Privacy" class="grey">
                <p>Privacy Policy</h6>
            </a>
        </div>
        <br>