@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@{
    ViewData["title"] = "Register";
    Layout = "UserAuthentication_Layout";
}
<div class="login col-md-4 col-sm-5">
    <div class="login-details">

        <form asp-action="Register" asp-controller="UserAuthentication">
            <label asp-for="FirstName" class="form-label mt-2">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger d-block"></span>
            <label asp-for="LastName" class="form-label mt-2">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger d-block"></span>
            <label asp-for="PhoneNumber" class="form-label mt-2">Phone Number</label>
            <input asp-for="PhoneNumber" class="form-control" />
            <span asp-validation-for="PhoneNumber" class="text-danger d-block"></span>
            <label asp-for="Email" class="form-label mt-2">Email address</label>
            <input class="form-control" asp-for="Email" aria-describedby="emailHelp" />
            <span asp-validation-for="Email" class="text-danger d-block"></span>
            <label asp-for="Password" class="form-label mt-2">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger d-block"></span>
            <label asp-for="Password" class="form-label mt-2">Confirm Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger d-block"></span>
            <button type="submit" class="btn mt-4">Register</button>
        </form>

        <div class="toregister text-center mt-2">
            <a class="l-password" asp-controller="UserAuthentication" asp-action="ForgotPassword">Lost Your Password?</a>
            <p class="mt-2">
                Already registered?<a asp-controller="UserAuthentication" asp-action="Login" style="text-decoration: none">Login now</a>
            </p>
        </div>
    </div>
    <div class="r-privacy text-center">
        <a href="#" class="r-privacy" style="text-decoration: none;color: #414141;">Privacy Policy</a>
    </div>
</div>


