/* ? comman css  for index changepassword forgot registration*/
/* ! */

html,
body {  height: 100%;   }

.row,
.row img {  width: 100%;    height: 100%;   }

/*.height { height: auto !important;}*/

.login-details {color: #414141; position: relative; width: 70%; left: 15%; font-size: 15px;}

.btn {    width: 100%;}

.privacy { position: relative; top: 15vh;}

.bglightblack {color: rgb(238, 233, 233); opacity: 80%;}

.row, .carousel-inner img { width: 100%; height: 100vh;}


/*@media screen and (max-width:768px) {
    .row, .carousel-inner img {
        height: 70vh;
    }
}*/

@media screen and (max-height:495px) {
    .carousel-inner img { height: 706px !important; }
}

/* !!!!!!!! */

/* for newregister*/
@media screen and (width:768px ) {
    .newimg img {
        height: 700px !important;
    }
}

@media screen and (max-height:667px)  {
    .newimg img { height: 706px !important;}
}

/*
    landing page 
*/
 .imgl{
    padding:10px;
}