/* ? comman css  for index changepassword forgot registration*/
/* ! */

html,
body {
  height: 100%;
}
.row,
.row img {
  width: 100%;
  height: 100%;
}
.login-details {
  color: #414141;
  position: relative;
  width: 70%;
  left: 15%;
  font-size: 15px;
}
.login-details button {
  width: 100%;
  border: solid 2px #f88634;
  border-radius: 24px;
  opacity: 1;
  color: #f88634;
}
.login-details button:hover {
  background-color: #f88634;
  color: rgb(255, 254, 254);
}
.toregister {
  color: #414141;
  text-align: center;

}
.privacy {
  position: relative;
  top: 50%;
}
.bglightblack {
  color: rgb(238, 233, 233);
  opacity: 80%;
}
.row,.carousel-inner img{
  width: 100%;
  height: 100vh;
}

@media screen and (max-width:768px){
  .row,.carousel-inner img{
      height: 70vh;
    }

}

@media screen and (max-height:495px) {
  .carousel-inner img {
      height: 706px !important;
    }
  }

/* !!!!!!!! */