@*
    for more information on enabling mvc for empty projects, visit https://go.microsoft.com/fwlink/?linkid=397860
*@
@{
    ViewData["Title"] = "vole Missions";
    string[] allchoices = new string[50];
}

@*filters sidebar*@
<div class="offcanvas offcanvas-start text-muted" data-bs-scroll="true" tabindex="-1" id="filters-sidebar" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <img src="~/images/left.png" data-bs-dismiss="offcanvas" aria-label="Close" alt="notload" />
        <span>Clear All</span>
    </div>
    <div class="offcanvas-body">
        <div id="country" class=" d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#country" role="button" aria-expanded="false" aria-controls="country">
            <span>Country</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="country">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        @*--2*@
        <div id="city" class="mt-4 d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#city" role="button" aria-expanded="false" aria-controls="city">
            <span>City</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="city">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        @*--3*@
        <div id="theme" class="mt-4 d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#theme" role="button" aria-expanded="false" aria-controls="theme">
            <span>Themes</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="theme">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        @*---4*@
        <div id="skill" class="mt-4 d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#skill" role="button" aria-expanded="false" aria-controls="skill">
            <span>Skills</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="skill">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>
@*header*@
<div class="home w-100 border-3 border-bottom text-muted">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex search-div align-items-center">
            <img class="search" src="~/images/search.png" alt="not load" />
            <div class="form-floating w-75 d-flex">
                <input type="search" class="form-control search-input" id="floatingSearch" placeholder="Search Misssions...." />
                <label for="floatingSearch" class="d-flex align-items-center">Search Missions....</label>
            </div>
        </div>
        <img src="~/images/filter.png" class="filter-image" data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar" aria-controls="offcanvasWithBothOptions" alt="not load" />
        <div class="filters  row">
            <div class="col-lg-3 col-md-3 col-sm-3 border-start border-end dropdown">
                <div id="country" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Country</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="country">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                <div id="city" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>City</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="city">
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('rajkot')" value="" id="rajkot">
                        <label class="form-check-label" for="flexCheckDefault">
                            rajkot
                        </label>
                    </span>
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('delhi')" value="" id="delhi">
                        <label class="form-check-label" for="flexCheckDefault">
                            delhi
                        </label>
                    </span>
                </span>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                <div id="theme" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Themes</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="theme">
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('Environment')" value="" id="Environment">
                        <label class="form-check-label" for="flexCheckDefault">
                            Environment
                        </label>
                    </span>
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('Education')" value="" id="Education">
                        <label class="form-check-label" for="flexCheckDefault">
                            Education
                        </label>
                    </span>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                <div id="skill" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Skills</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="skill">
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('Communication')" value="" id="Communication">
                        <label class="form-check-label" for="flexCheckDefault">
                            Communication
                        </label>
                    </span>
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('JavaScript')" value="" id="JavaScript">
                        <label class="form-check-label" for="flexCheckDefault">
                            JavaScript
                        </label>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>
@*badges*@
@{
}


@*main body*@
<div class="text-center py-5">
    <h1>Releated Mission
    </h1>

</div>
    @*missions*@
    <div class="test-center"> releated mission</div>
    <div class="row">
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card d-flex">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="images/pin.png" alt="">
                        <span class="text-light">Toronto</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex list-view justify-content-between">
                        <span class="organization">Tree Canada</span>
                        <div class="rating">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/star.png" alt="">
                            <img src="/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="/images/deadline.png" alt="">
                            <span>
                                09/01/2019
                                <p>Deadline</p>
                            </span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applyButton btn">
                            Apply <img src="/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>

        @*--------2*@
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="/images/pin.png" alt="">
                        <span class="text-light">Toronto</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Tree Canada</span>
                        <div class="rating">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/star.png" alt="">
                            <img src="/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="/images/Already-volunteered.png" alt="">
                            <span>
                                250 <p>Already volunteered</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="/images/deadline.png" alt="">
                            <div>
                                <span>09/01/2019</span>
                                <p>Deadline</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applyButton btn">
                            Apply <img src="/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
        @*-----------3*@
        <div class="item col-md-6 col-lg-4 col-sm-6 mt-3">
            <div class="thumbnail card">
                <div class="img-event">
                    <img class="group list-group-image w-100 h-100"
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="location-img">
                        <img class="text-light" src="/images/pin.png" alt="">
                        <span class="text-light">Toronto</span>
                    </div>
                    <button class="like-img border-0">
                        <img class="text-light" src="/images/heart.png" alt="">
                    </button>
                    <button class="stop-img border-0">
                        <img class="text-light" src="/images/user.png" alt="">
                    </button>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class="d-flex justify-content-between">
                        <span class="organization">Tree Canada</span>
                        <div class="rating">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/selected-star.png" alt="">
                            <img src="/images/star.png" alt="">
                            <img src="/images/star.png" alt="">
                        </div>
                    </div>
                    <div class="duration-seats-info mt-4">
                        <div class="duration">
                            <p id="duration-txt" style="margin-bottom: 0;">From 10/01/2019 until 25/02/2019</p>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between border-bottom mt-3">
                        <div class="Seats d-flex align-items-center">
                            <img src="/images/Seats-left.png" alt="">
                            <span>
                                10 <p>seats left</p>
                            </span>
                        </div>
                        <div class="deadline d-flex align-items-center">
                            <img src="/images/deadline.png" alt="">
                            <div>
                                <span>09/01/2019</span>
                                <p>Deadline</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <button class="applyButton btn">
                            Apply <img src="/images/right-arrow.png" alt="">
                        </button>
                    </div>
                </div>
            </div>
        </div>
      
        
    </div>
</div>
<div class="container mt-5 text-muted no-mission-found">
    <span>
        No Mission Found
        <p> Try With Onther Filters</p>
    </span>
</div>
@*pagination*@



<script src="~/js/index.js">

</script>




