@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model User
@{
    ViewData["title"] = "ForgotPassword";
    Layout = "UserAuthentication_Layout";
}
<div class="login col-md-4 col-sm-5">
    <div class="login-details">
        <div class="toregister text-center mt-3">
            <span>Forgot Password</span>
            <p class="mt-2" style="color: #414141; font-size:12px">
                Enter your email address you've using for your account below and we will send you a password link
            </p>
        </div>
        <form asp-controller="UserAuthentication" asp-action="ForgotPassword">
        <label asp-for="Email" class="form-label">Email address</label>
        <input asp-for="Email"
               class="form-control"
               aria-describedby="emailHelp"
               placeholder="Enter your email address..." />
               <span asp-validation-for="Email" class="text-danger"></span>
        <button type="submit" class="btn mt-4">Reset my password</button>
        </form>
        <div class="tologin mt-3">
            <a asp-controller="UserAuthentication" asp-action="Login">Login</a>
        </div>
        <div class="privacy text-center">
            <span>Privacy Policy</span>
        </div>
    </div>
</div>
