@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["title"] = "volunteering Story";
    ViewData["css"] = "VolunteeringStory.css";
    ViewData["js"] = "bootstrap.min.bunddle.js";
}
@*filters sidebar*@

<div class="offcanvas offcanvas-start text-muted" data-bs-scroll="true" tabindex="-1" id="filters-sidebar" aria-labelledby="offcanvasWithBothOptionsLabel">
    <div class="offcanvas-header">
        <img src="~/images/left.png" data-bs-dismiss="offcanvas" aria-label="Close" alt="notload" />
        <span>Clear All</span>
    </div>
    <div class="offcanvas-body">
        <div id="country" class=" d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#country" role="button" aria-expanded="false" aria-controls="country">
            <span>Country</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="country">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>


        @*--2*@

        <div id="city" class="mt-4 d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#city" role="button" aria-expanded="false" aria-controls="city">
            <span>City</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="city">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>


        @*--3*@
        <div id="theme" class="mt-4 d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#theme" role="button" aria-expanded="false" aria-controls="theme">
            <span>Themes</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="theme">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
        @*---4*@
        <div id="skill" class="mt-4 d-flex justify-content-between w-100 text-muted" data-bs-toggle="collapse" href="#skill" role="button" aria-expanded="false" aria-controls="skill">
            <span>Skills</span>
            <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
        </div>
        <div class="collapse mt-3" id="skill">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>


@*header*@

<div class="home w-100 border-3 border-bottom text-muted">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex search-div align-items-center">
            <img class="search" src="~/images/search.png" alt="not load" />
            <div class="form-floating w-75 d-flex">
                <input type="search" class="form-control search-input" id="floatingSearch" placeholder="Search Misssions...." />
                <label for="floatingSearch" class="d-flex align-items-center">Search Missions....</label>
            </div>
        </div>
        <img src="~/images/filter.png" class="filter-image" data-bs-toggle="offcanvas" data-bs-target="#filters-sidebar" aria-controls="offcanvasWithBothOptions" alt="not load" />
        <div class="filters  row">
            <div class="col-lg-3 col-md-3 col-sm-3 border-start border-end dropdown">
                <div id="country" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Country</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="country">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                <div id="city" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>City</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="city">
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('rajkot')" value="" id="rajkot">
                        <label class="form-check-label" for="flexCheckDefault">
                            rajkot
                        </label>
                    </span>
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('delhi')" value="" id="delhi">
                        <label class="form-check-label" for="flexCheckDefault">
                            delhi
                        </label>
                    </span>
                </span>

            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                <div id="theme" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Themes</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="theme">
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('Environment')" value="" id="Environment">
                        <label class="form-check-label" for="flexCheckDefault">
                            Environment
                        </label>
                    </span>
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('Education')" value="" id="Education">
                        <label class="form-check-label" for="flexCheckDefault">
                            Education
                        </label>
                    </span>
                </span>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 dropdown border-start border-end">
                <div id="skill" class="dropdown-toggle d-flex justify-content-between w-100" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span>Skills</span>
                    <img src="~/images/drop-down.png" class="filter-dropdown" alt="not load" />
                </div>
                <span class="dropdown-menu" aria-labelledby="skill">
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('Communication')" value="" id="Communication">
                        <label class="form-check-label" for="flexCheckDefault">
                            Communication
                        </label>
                    </span>
                    <span class="dropdown-item">
                        <input class="form-check-input" type="checkbox" onchange="setfilters('JavaScript')" value="" id="JavaScript">
                        <label class="form-check-label" for="flexCheckDefault">
                            JavaScript
                        </label>
                    </span>
                </span>
            </div>
        </div>
    </div>
</div>

@*main story*@



<div class="container-fluid p-0 m-0">
    <div class="hover hover-3 text-white rounded img-back">
        <div class="hover-overlay"></div>
        <div class="  hover-3-content">
            @**@
            <p class="hover-3-description small text-uppercase mb-0">Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem
                ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur Lorem ipsum dolor sit amet, consectetur </p>
            <div class="btn applyButton justify-content-center hover-3-description">
                Share Your Story
                <img src="/images/right-arrow.png" alt="">
            </div>
        </div>
    </div>
</div>



@*missions*@

<div class="container ">
    <div class="row">
        <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>
                    <img class=" w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*--------2*@
          <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*-----------3*@
         <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*4---------*@
         <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @*---5*@
         <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @*---6*@

        <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*---7*@

          <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*---8*@

         <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        @*--9*@

          <div class=" hovor hover-3 item col-md-6 col-lg-4 col-sm-6 mt-3 ">
            <div class="thumbnail card">
                <div class="img-event">
                    <div class="hover-overlay"></div>

                    <img class=" group list-group-image w-100 h-100 "
                         src="/images/Nourish-the-Children-in--African-country.png" alt="" />
                    <div class="hover-3-content">
                        <div class="hover-3-description btn applyButton justify-content-center">
                            View About Story
                            <img src="/images/right-arrow.png" alt="">
                        </div>
                    </div>
                    <button class="mission-theme border-0">
                        <span class="p-2">Environment</span>
                    </button>
                </div>
                <div class="caption card-body">
                    <h4 class="group card-title inner list-group-item-heading">
                        Grow Trees – On the path to environment sustainability
                    </h4>
                    <p class="group inner list-group-item-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore...
                    </p>
                    <div class=" justify-content-between h-15">
                        <div class="Seats align-items-center h-15">
                            <img class="rounded-circle height-img " src="/images/volunteer1.png" alt="">
                            <span>
                                asdf
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        @*pagination*@

        <nav aria-label="Page navigation example" class="mt-5">
            <ul class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1"><img src="~/images/previous.png" alt="not load" /></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1"><img src="~/images/left.png" alt="not load" /></a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"><img src="~/images/right-arrow1.png" alt="not load" /></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"><img src="~/images/next.png" alt="not load" /></a>
                </li>
            </ul>
        </nav>


    </div>
</div>