body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}
/* Sidebar */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #F88634;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.list-group-flush > .list-group-item {
    background-color: #F88634;
    color: white;
    border-width: 0 0 var(--bs-list-group-border-width);
}

.list-group-item + .list-group-item.active {
    margin-top: calc(-1 * var(--bs-list-group-border-width));
    border-top-width: var(--bs-list-group-border-width);
    background-color: #FFFFFF;
    color: #F88634;
}

.list-group-item {
    border: 0px solid rgba(0, 0, 0, 0);
    white-space:nowrap;
}

    .list-group-item.active {
        z-index: 2;
        border-color: white;
    }

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #D9D9D9;
}

.bkgclr {
    background-color: #F8F9FC;
}

.status {
    color: #14C506;
}
.deactive {
    color: red;
}

.view {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    height: 1.3rem;
    width: 2.5rem;
    border: 1px solid #F88634;
    color: #F88634;
    font-size: 10px;
    text-align: center;
    align-items: center;
    border-radius: 23px;
}

@media screen and (max-width: 400px) {
    .f3 {
        font-size: 15px;
    }
}

.list-group-item {
    color: #fff !important;
    background-color: #F88634;
    border-color: #F88634 !important;
}

    .list-group-item.active {
        z-index: 2;
        color: #F88634 !important;
        background-color: #fff !important;
        border-color: #fff !important;
        font-weight:bold;
    }

    .list-group-item:hover {
        background-color: #fff !important;
        color: #F88634 !important;
        border-radius: 5px;
        cursor: pointer;
        z-index: 2;
        border-color: #fff !important;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    }


.tabs {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

    .tabs ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: flex-end;
        /* aligns the items to the bottom of the flex container */
        border-bottom: 1px solid #ccc;
    }

    .tabs li {
        margin-right: 1em;
        border-bottom: 2px solid transparent;
        position: relative;
        padding-bottom: 10px;
        /* creates a positioning context for the pseudo-element */
    }

        .tabs li.active {
            border-color: #000;
        }

.btnn {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E8E8E8;
    border-radius: 14px;
    font-size: 13px;
    text-align: left;
    letter-spacing: 0px;
    color: #414141;
    display: inline-block;
}



.orangeButton {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #F88634;
    border-radius: 24px;
    color: #F88634;
    text-align: center;
    height: 40px;
    width: 12vh;
}

    .orangeButton:hover {
        background: #F88634;
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        font-weight: bold;
    }


/* add story */


.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }


#dropzone {
    position: relative;
    border-style: dashed;
    border-color: #ced4da;
    border-width: 2px;
    padding: 20px;
    min-height: 100px;
}

    #dropzone.dragging {
        background-color: #f2f2f2;
    }

#preview-container {
    display: flex;
    flex-wrap: wrap;
}

.preview {
    display: inline-block;
    position: relative;
    margin: 5px;
    max-width: 200px;
    max-height: 200px;
    overflow: hidden;
}

    .preview img,
    .preview video {
        display: block;
        width: 13vh;
        height: 13vh;
    }

.file-upload {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancel-btn {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.7);
    border: none;
    font-size: 20px;
    color: #333;
    cursor: pointer;
}



.cancle-btnn {
    font-size: large;
    border: 2px solid #757575;
    border-radius: 30px;
    opacity: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    height: 40px;
    width: 12vh !important;
    cursor: pointer;
}

    .cancle-btnn:hover {
        border: 3px solid #757575;
        background-color: #d0d0d0;
        font-weight: bold;
        cursor: pointer;
    }

.userPicture {
    width: 250px;
    height: 250px;
}

.imghover {
    cursor: pointer;
}

/* image slider  */

.prev {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: auto;
    background: transparent url('img/Layer 119 copy.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-image: url(/images/left1.png);
    background-position: center;
}

.Next {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: auto;
    background: transparent url('img/Layer 119 copy.png') 0% 0% no-repeat padding-box;
    opacity: 1;
    background-image: url(/images/right-arrow2.png);
    background-position: center center;
}

.mydiv {
    padding: 0px 4px;
}

.Next:hover,
.prev:hover {
    background-color: #000;
    opacity: 0.8;
}

/*  add mission tab */


#skillText:disabled {
    background-color: white;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    text-align: center;
}



.modal-header,
.modal-footer {
    border: none;
}

.removeFile {
    cursor: pointer;
    color: #757575;
    text-decoration:none;
    align-items:center;
}


.doc {
    border-radius: 24px;
}

.vol-pdf {
    background-image: url(/images/pdf.png);
    background-position: 12% 15px;
    text-align: center;
    padding-left: 40px;
    background-repeat: no-repeat;
    height: 6vh;
    width: 25vh;
    border-radius: 23px;
    text-decoration:none;
    color:black;
}

#doclist {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 5px;
}

    #doclist .doc {
        white-space: nowrap;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 24px;
        background-color: transparent;
        color: #757575;
    }


.picture-container {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.picture {
    color: #FFFFFF;
    margin-top: 82px;
    margin-bottom: 30px;
    overflow: hidden;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}

    .picture input[type="file"] {
        cursor: pointer;
        display: block;
        height: 200px;
        left: 0;
        opacity: 0 !important;
        position: absolute;
        top: 0;
        width: 100%;
    }

#dropzone-banner {
    position: relative;
    border-style: dashed;
    border-color: #ced4da;
    border-width: 2px;
    padding: 20px;
    min-height: 300px;
}

    #dropzone-banner.dragging {
        background-color: #f2f2f2;
    }

#preview-container-banner {
    display: flex;
    flex-wrap: wrap;
}

.dataTables_filter {
    display: none;
}

.dataTables_wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc5c5;
}

    .dataTables_wrapper table td {
        border: none;
    }

    .dataTables_wrapper table.dataTable tbody tr {
        border-collapse: collapse;
        border-spacing: 0;
        border: 1px solid #ccc5c5;
    }


.dataTables_wrapper
.dataTables_paginate
.paginate_button.current
{
    background: linear-gradient(to bottom, #F88634, #F88634);
    background-color: #F88634 !important;
    border:none !important;
    color:white !important;
}

.paginate_button:hover {
    background: linear-gradient(to bottom, #F88634, #F88634) !important;
    background-color: #F88634 !important;
    border: none !important;
}
.paginate_button {
    background-color: transparent !important;
    border: 1px solid #E8E8E8 !important;
    border-radius: 3px;
    color: #414141;
    margin: 0 5px;
}

